In [1]:
import pandas as pd 
import numpy as np

### Import and Clean Steam User Behavior Dataset

In [3]:
steam_df = pd.read_csv(r'../datasets/steam-200k.csv')

In [4]:
steam_df

        151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0       151603712  The Elder Scrolls V Skyrim      play  273.0  0
1       151603712                   Fallout 4  purchase    1.0  0
2       151603712                   Fallout 4      play   87.0  0
3       151603712                       Spore  purchase    1.0  0
4       151603712                       Spore      play   14.9  0
...           ...                         ...       ...    ... ..
199994  128470551                 Titan Souls      play    1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase    1.0  0
199996  128470551  Grand Theft Auto Vice City      play    1.5  0
199997  128470551                        RUSH  purchase    1.0  0
199998  128470551                        RUSH      play    1.4  0

[199999 rows x 5 columns]

In [6]:
features_null = steam_df.columns[df.isna().any()].tolist()
df[features_null].isna().sum()

Series([], dtype: float64)

In [11]:
df.drop(columns = ['0'], inplace=True)

In [9]:
steam_df.columns = ['user_id', 'game_title','behavior','hours_played']

In [10]:
steam_df.head()

     user_id                  game_title  behavior  hours_played  0
0  151603712  The Elder Scrolls V Skyrim      play         273.0  0
1  151603712                   Fallout 4  purchase           1.0  0
2  151603712                   Fallout 4      play          87.0  0
3  151603712                       Spore  purchase           1.0  0
4  151603712                       Spore      play          14.9  0

### Import and Clean Metacritic Dataset

In [15]:
meta_df = pd.read_csv(r'../datasets/result.csv')

In [17]:
meta_df

,metascore,name,console,userscore,date
0,97,Grand Theft Auto V,PS3,8.3,"Sep 17, 2013"
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013"
2,95,The Last of Us,PS3,9.2,"Jun 14, 2013"
3,94,BioShock Infinite,PS3,8.5,"Mar 26, 2013"
4,94,BioShock Infinite,PC,8.6,"Mar 25, 2013"
...,...,...,...,...,...
15642,38,Touhou Kobuto V: Burst Battle,Switch,4.6,"Oct 10, 2017"
15643,38,Randall,PS4,2.1,"Jun 6, 2017"
15644,36,Tokyo Tattoo Girls,VITA,5.4,"Nov 14, 2017"
15645,26,Road Rage,PS4,2.5,"Nov 14, 2017"
15646,17,Vroom in the Night Sky,Switch,3.1,"Apr 5, 2017"

In [18]:
console_games = meta_df[meta_df['console'] != 'PC'].index

In [19]:
meta_df.drop(console_games, inplace = True)

In [21]:
meta_df.reset_index()

,index,metascore,name,console,userscore,date
0,4,94,BioShock Infinite,PC,8.6,"Mar 25, 2013"
1,9,91,Fez,PC,6.7,"May 1, 2013"
2,13,90,Spelunky,PC,7.3,"Aug 8, 2013"
3,15,90,Brothers: A Tale of Two Sons,PC,8.6,"Sep 3, 2013"
4,16,90,Dota 2,PC,6.5,"Jul 9, 2013"
...,...,...,...,...,...,...
3958,15627,45,Reservoir Dogs: Bloody Days,PC,5.7,"May 18, 2017"
3959,15629,44,Bubsy: The Woolies Strike Back,PC,4.5,"Oct 31, 2017"
3960,15630,44,Husk,PC,3.8,"Feb 3, 2017"
3961,15636,40,Inner Chains,PC,5,"May 18, 2017"
3962,15641,38,Hello Neighbor,PC,4.5,"Dec 8, 2017"

In [22]:
meta_df.dtypes

metascore     int64
name         object
console      object
userscore    object
date         object
dtype: object